/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.fixed-top {
    top: 1;
}

  
.call-to-actions {
  top: 0;
   position: fixed;
display: flex;
    align-items: center;
    justify-content: center;
  width: 100%;
  z-index: 10;
    background:#1f3954;
    grid-gap: 2rem;
    height: 48px;
    min-height: 48px;
    min-width: 100%;
    width: 100%;
    z-index: 2000;
    box-shadow: 0 4px 16px rgba(0,0,0,.1)
}


.call-to-action {
    align-items: center;
    display: flex;
    justify-content: center
}

.call-to-action {
    flex-direction: row
}

.call-to-action .icon {
    position: relative;
    display: block
}

.call-to-action .icon-phone {
    background: url(https://cdn.shopify.com/s/files/1/0826/3286/8132/files/phone.svg?v=1706576266);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px
}

.call-to-action .icon-whatsapp {
    background: url(https://cdn.shopify.com/s/files/1/0826/3286/8132/files/whatsapp.svg?v=1706576295);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px
}
a.call-to-action,
a.call-to-action:active,
a.call-to-action:focus,
a.call-to-action:hover,
a.call-to-action:visited {
    display: flex;
text-decoration: none;
}

.call-to-action p {
    color: #fff;
    padding-left: .5rem;
    font-weight: 600;
    font-family: Poppins,sans-serif;
}

.call-to-action:hover .call-to-action__circle,.call-to-action:hover p {
    opacity: .7;
    transition: opacity .25s cubic-bezier(.4,0,.2,1) 0ms;
}

.call-to-action__circle {
    align-items: center;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: opacity .25s cubic-bezier(.4,0,.2,1) 0ms;
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 32px;
    justify-content: center;
    position: relative;
    width: 32px;
    background-color: transparent;
}

.call-to-action__circle.call-to-action__circle__call {
    background-color: #005858;
}

.call-to-action__circle.call-to-action__circle__whatsapp {
    background-color: #25d366;
}

[id*="call_to_actions"] {
  height: 48px;
  background: #000000;
}

  .menu-open + [id*="call_to_actions"]{
    display:none;
  }

  

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


@media (max-width: 768px) {
 p {
   font-size: 12px;
  }
}
